<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>

    <title>글 상세</title>

</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>글 상세</h1>


        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

        <form id="writeForm">
            <div>
                <span>제목</span>
                <input type="text" name="subject" id="subject" th:value="${post.subject}">
            </div>

            <div>
                <span>내용</span>
                <div th:utext="${post.content}"></div>
            </div>

            <div>
                <span>키워드</span>
                <input type="text" name="keywords" id="keywords" th:value="${post.hashTagContents}">
            </div>


            <div class="py-3">
                <a th:href="@{|/post/list|}" class="btn btn-sm btn-secondary">목록</a>
                <a th:href="@{|/post/${post.id}/modify|}" class="btn btn-sm btn-secondary">수정</a>
                <a onclick="return confirm('정말로 삭제하시겠습니까?')" th:href="@{|/post/${post.id}/delete|}" class="btn btn-sm btn-secondary">삭제</a>
            </div>

        </form>
    </div>

</section>
</body>
</html>